* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {
    width: 155px;
}

div {
    text-align: center;
}

.inputForm {
    width: 250px;
    height: 25px;
}

.textForm {
    font-weight: bold;
}